Repository TheRushh/rushh.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

fix: Restore color transition and remove canvas fade
  src/components/DotMatrixDisplay.tsx
  src/index.css
Due: prettier --write, eslint --fix, vitest related --run

fix: Comprehensive transitions with canvas exclusion
  src/index.css
Due: prettier --write

fix: Use ease-in-out and remove opacity/box-shadow transitions
  src/index.css
Due: prettier --write

fix: Use linear timing and faster transition for smoother effect
  src/index.css
Due: prettier --write

revert: Remove theme transition changes
  src/index.css
Due: prettier --write

fix: Add smooth theme transition for dot matrix display (#19)
  .github/workflows/vercel-deploy.yml
  .gitignore
  src/index.css
Due: prettier --write

refactor: Consolidate CI/CD pipeline into single workflow
  .github/workflows/ci-cd.yml
  .github/workflows/quality-check.yml
  .github/workflows/vercel-deploy.yml
Due: none

feat: Add overall quality score to CI/CD reports
  .github/workflows/ci-cd.yml
Due: none

fix: Update PR comment on every commit to branch
  .github/workflows/ci-cd.yml
Due: none

fix: Show correct commit SHA in deployment comment
  .github/workflows/ci-cd.yml
Due: none

refactor: Consolidate CI/CD pipeline into single workflow (#20)
  .github/workflows/ci-cd.yml
  .github/workflows/quality-check.yml
  .github/workflows/vercel-deploy.yml
Due: none

docs: Compact README and fix LinkedIn link
  README.md
Due: prettier --write

fix: optimize build chunk size and implement lazy loading
  src/App.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: optimize build chunk size and implement lazy loading (#21)
  src/App.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: implement build caching in CI/CD
  .github/workflows/ci-cd.yml
Due: none

chore: configure vscode settings for tailwind
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat: enhance theme with pitch black/white mode and revamp About section
  src/App.tsx
  src/components/DotMatrixDisplay.tsx
  src/index.css
  src/sections/About.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve TypeScript errors with brand color indexing
  src/sections/About.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: add .serena to prettierignore to fix build
  .prettierignore
Due: none

Remove blur and background effects for cleaner theme
  src/App.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Projects.tsx
  src/sections/TechnicalStack.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: Add gradual blur effects and new Technical Stack section
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/sections/About.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Projects.test.tsx
  src/sections/Projects.tsx
  src/sections/TechnicalStack.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: Add scroll-based active section highlighting and remove duplicate Technical Stack
  src/components/Header.tsx
  src/sections/About.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: enhance theme with pitch black/white mode and revamp About section (#23)
  .prettierignore
  src/App.tsx
  src/components/DotMatrixDisplay.tsx
  src/components/Footer.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/index.css
  src/sections/About.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Projects.test.tsx
  src/sections/Projects.tsx
  src/sections/TechnicalStack.tsx
Due: prettier --write, eslint --fix, vitest related --run

Set up Vercel Speed Insights tracking
  package-lock.json
  package.json
  src/App.tsx
Due: prettier --write, eslint --fix, vitest related --run

refactor: update dependencies, fix lint errors and audit issues
  .serena/cache/typescript/document_symbols.pkl
  .serena/cache/typescript/raw_document_symbols.pkl
  eslint.config.js
  package-lock.json
  package.json
  scripts/quality-check.js
  src/components/DotMatrixDisplay.tsx
  src/components/ui/TextGenerateEffect.tsx
Due: prettier --write, eslint --fix, vitest related --run

chore: format code to fix CI check
  eslint.config.js
Due: none

Revamp: Update dependencies and fix lint errors (#25)
  .serena/cache/typescript/document_symbols.pkl
  .serena/cache/typescript/raw_document_symbols.pkl
  eslint.config.js
  package-lock.json
  package.json
  scripts/quality-check.js
  src/components/DotMatrixDisplay.tsx
  src/components/ui/TextGenerateEffect.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add Vercel Web Analytics Setup Guide
  package-lock.json
  package.json
  src/App.tsx
Due: prettier --write, eslint --fix, vitest related --run

feat: implement consistent glassmorphism with optimized performance
  src/index.css
  src/sections/About.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
  src/sections/TechnicalStack.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: adjust mobile hero padding to prevent header overlap
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): add global background ambience for consistent glassmorphism
  src/App.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): add white border to project cards in dark mode
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): align project card borders with other sections
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): add background ambience to projects section
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): unify glassmorphism card styles across all sections
  src/sections/About.tsx
  src/sections/Contact.tsx
  src/sections/Education.tsx
  src/sections/Experience.tsx
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): smooth theme transitions for background, header and dot matrix
  src/App.tsx
  src/components/DotMatrixDisplay.tsx
  src/components/Header.tsx
  src/index.css
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): apply standard glassmorphism to hero stats cards
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): use linear timing function for all theme transitions
  src/App.tsx
  src/components/Header.tsx
  src/index.css
  src/sections/Hero.tsx
  src/sections/Projects.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): add local ambience to hero stats for better visibility
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(styles): use consistent 500ms linear application-wide theme transition
  src/components/DotMatrixDisplay.tsx
  src/index.css
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,css})
  eslint --fix: any of: *.{ts,tsx}
  vitest related --run: any of: *.{ts,tsx}
