Repository TheRushh/rushh.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

docs: Add comprehensive project structure section to README
  README.md
Due: prettier --write

docs: Add comprehensive project structure section to README (#12)
  README.md
Due: prettier --write

docs: Clean up README by removing redundant sections
  README.md
Due: prettier --write

docs: Clean up README by removing redundant sections (#13)
  README.md
Due: prettier --write

Add GitHub Actions workflow for Vercel deployment
  .github/workflows/vercel-deploy.yml
  README.md
  VERCEL_DEPLOYMENT.md
Due: prettier --write

Disable Vercel Git integration for GitHub Actions deployment
  vercel.json
Due: prettier --write

Add GitHub Actions workflow for Vercel deployment (#14)
  .github/workflows/vercel-deploy.yml
  README.md
  VERCEL_DEPLOYMENT.md
  vercel.json
Due: prettier --write

Add interactive resume viewer with PDF display functionality
  package-lock.json
  package.json
  public/resume.pdf
  src/components/Header.tsx
  src/components/ResumeModal.tsx
  src/components/ThemeSwitcher.test.tsx
  src/components/ThemeSwitcher.tsx
Due: prettier --write, eslint --fix, vitest related --run

Improve resume modal UX and add comprehensive tests
  src/components/Header.tsx
  src/components/ResumeModal.test.tsx
  src/components/ResumeModal.tsx
Due: prettier --write, eslint --fix, vitest related --run

Fix Hero section alignment and add comprehensive tests
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

Update Node.js version to 22 in GitHub Actions workflows
  .github/workflows/quality-check.yml
  .github/workflows/vercel-deploy.yml
Due: none

Remove backdrop blur from resume modal header
  src/components/ResumeModal.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add interactive resume viewer with PDF display (#15)
  .github/workflows/quality-check.yml
  .github/workflows/vercel-deploy.yml
  package-lock.json
  package.json
  public/resume.pdf
  src/components/Header.tsx
  src/components/ResumeModal.test.tsx
  src/components/ResumeModal.tsx
  src/components/ThemeSwitcher.test.tsx
  src/components/ThemeSwitcher.tsx
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add scroll-to-top functionality to header logo
  src/components/Header.tsx
Due: prettier --write, eslint --fix, vitest related --run

Fix scroll-to-top by preventing default anchor behavior
  src/components/Header.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add tests for scroll-to-top and resume modal interactions
  src/components/Header.test.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add scroll-to-top functionality to header logo (#16)
  src/components/Header.test.tsx
  src/components/Header.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add dot matrix display with animated coding words
  src/App.tsx
  src/components/DotGridBackground.tsx
  src/components/DotMatrixDisplay.tsx
  src/components/Header.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add colorful words and improved dot matrix visuals
  src/components/DotMatrixDisplay.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add tests for DotMatrixDisplay component
  src/components/DotMatrixDisplay.test.tsx
Due: prettier --write, eslint --fix, vitest related --run

Fix TypeScript error in useRef initialization
  src/components/DotMatrixDisplay.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add main landmark for accessibility
  src/App.tsx
Due: prettier --write, eslint --fix, vitest related --run

Fix Hero test to match updated button styling
  src/components/Header.tsx
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

Add TV warm-up effect and improve Hero button styling
  src/components/DotMatrixDisplay.tsx
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
Due: prettier --write, eslint --fix, vitest related --run

Improve test coverage for DotMatrixDisplay
  src/components/DotMatrixDisplay.test.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

Require quality checks to pass before Vercel deployment
  .github/workflows/quality-check.yml
  .github/workflows/vercel-deploy.yml
Due: none

Set coverage threshold to 80%
  .github/workflows/quality-check.yml
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

Improve test coverage to meet 80% threshold
  src/components/Header.test.tsx
  src/components/ResumeModal.test.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

Fix Prettier formatting in vercel-deploy.yml
  .github/workflows/vercel-deploy.yml
Due: none

Add comprehensive pre-commit hook for quality checks
  .husky/pre-commit
Due: none

Add dot matrix display with animated coding words (#17)
  .github/workflows/vercel-deploy.yml
  .husky/pre-commit
  src/App.tsx
  src/components/DotGridBackground.tsx
  src/components/DotMatrixDisplay.test.tsx
  src/components/DotMatrixDisplay.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/ResumeModal.test.tsx
  src/sections/Hero.test.tsx
  src/sections/Hero.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: Use workflow_run.head_branch for production detection
  .github/workflows/vercel-deploy.yml
Due: none

fix: Optimize performance to reduce Chrome resource usage
  src/components/DotMatrixDisplay.test.tsx
  src/components/DotMatrixDisplay.tsx
  src/index.css
Due: prettier --write, eslint --fix, vitest related --run

fix: Restore random static colors during transition
  src/components/DotMatrixDisplay.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix: Optimize performance to reduce Chrome resource usage (#18)
  src/components/DotMatrixDisplay.test.tsx
  src/components/DotMatrixDisplay.tsx
  src/index.css
Due: prettier --write, eslint --fix, vitest related --run

fix: Add smooth theme transition for dot matrix display
  src/components/DotMatrixDisplay.tsx
  src/index.css
Due: prettier --write, eslint --fix, vitest related --run

fix: Enable Vercel preview deployments for all branches
  .github/workflows/vercel-deploy.yml
Due: none

fix: Add comprehensive CSS transitions for all elements
  .gitignore
  src/index.css
Due: prettier --write

fix: Use global wildcard for smooth theme transitions
  src/index.css
Due: prettier --write

fix: Remove text color transition to reduce jitter
  src/index.css
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,css})
  eslint --fix: any of: *.{ts,tsx}
  vitest related --run: any of: *.{ts,tsx}
